.header{
    display: flex;
    align-items: center;
}
.header ul li{
    display: inline-block;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    margin-right:10px ;
}